################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business/bin
/Business/obj
/CarRental.Business/obj
/CarRental.Business/bin
/CarRental.Business.Bootstrapper/bin
/CarRental.Business.Bootstrapper/obj
/CarRental.Business.Common/bin
/CarRental.Business.Common/obj
/CarRental.Business.Common/obj
/CarRental.Business.Contracts/bin
/CarRental.Business.Contracts/obj
/CarRental.Business.Managers/bin
/CarRental.Business.Managers/obj
/CarRental.Business.Tests/obj
/CarRental.Business.Tests/bin/Debug
/CarRental.Client.Bootstrapper/obj/Debug
/CarRental.Client.Bootstrapper/bin/Debug
/CarRental.Client.Contracts/obj/Debug
/CarRental.Client.Contracts/bin/Debug
/CarRental.Client.Proxies/obj/Debug
/CarRental.Client.Proxies/bin/Debug
/CarRental.Client.Proxies.Test/obj/Debug
/CarRental.Client.Proxies.Test/bin/Debug
/CarRental.Client.Proxies/Properties/AssemblyInfo.cs
/CarRental.Common/obj
/CarRental.Common/bin
/CarRental.Common.Contracts/obj
/CarRental.Common.Contracts/bin
/CarRental.Data/obj
/CarRental.Data/bin
/CarRental.Data.Contract/obj
/CarRental.Data.Contract/bin
/CarRental.Data.Tests/obj
/CarRental.Data.Tests/bin/Debug
/CarRental.ServiceHost.Console/obj
/CarRental.ServiceHost.Console/bin
/CarRental.Data.Tests/Properties/AssemblyInfo.cs
/CarRental.ServiceHost.Tests/obj
/CarRental.ServiceHost.Tests/bin/Debug
/CarRental.Web/obj/Debug
/CarRental.Web/bin
/CarRentall.Client.Entities/obj
/CarRentall.Client.Entities/bin
/Core.Common/obj
/Core.Common/bin
/Core.Common.Contracts/obj
/Core.Common.Contracts/bin
/Core.Common.ServiceModel/obj
/Core.Common.ServiceModel/bin
/Core.Common.Tests/obj
/Core.Common.Tests/bin
/CoreCommonTests/obj/Debug
/packages
/CarRental.Business.Manages.Tests/obj
/CarRental.Business.Manages.Tests/bin/Debug
/.vs
