
@{
    ViewBag.Title = "Account Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
    {
        <script src="@Url.Content("~/Binding/Models/AccountRegisterModel.js")"></script>
        <script src="@Url.Content("~/Binding/ViewModels/AccountRegisterViewModel.js")"></script>
    }
@section footerScript
    {
        angular.bootstrap(document.getElementById("registration"), ['accountRegister']);
    }
<div ng-app="accountRegister" ng-controller="AccountRegisterViewModel" id="registration">
    <br />
    @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")
    <br />
    <div ng-view></div>
</div>

