<div>
    <p class="input-group" style="width:400px;">
        <span class="input-group-addon" style="width:140px; text-align:left">
            Credir Cart:
        </span>
        <input type="text" class="form-control" ng-model="accountModelStep3.CreditCart" placeholder="Credit Cart" />
    </p>

    <p class="input-group" style="width:400px;">
        <span class="input-group-addon" style="width:140px; text-align:left">
            Zip code:
        </span>
        <input type="text" class="form-control" ng-model="accountModelStep3.ZipCode" placeholder="Zip code" />
    </p>
        
    <hr style="width:415px; text-align:left" />
    <div>
        <a href="#" class="btn btn-info" ng-click="previous()">Previous</a>
        <a href="#" class="btn btn-info" ng-click="confirm()">Next</a>
    </div>
</div>